/* stylelint-disable-next-line import-notation */
@import 'tailwindcss';

:root {
  /* 主色 */
  --primary: oklch(21% 0.034 264.665deg);

  /* 主色的文字 */
  --primary-foreground: oklch(98.5% 0.002 247.839deg);

  /* 次级色 */
  --secondary: oklch(96.7% 0.003 264.542deg);

  /* 次级色的文字 */
  --secondary-foreground: oklch(21% 0.034 264.665deg);

  /* 弱化区域背景 */
  --muted: oklch(96.7% 0.003 264.542deg);

  /* 弱化区域的文字 */
  --muted-foreground: oklch(55.1% 0.027 264.364deg);

  /* 强调色 */
  --accent: oklch(96.7% 0.003 264.542deg);

  /* 强调文字色 */
  --accent-foreground: oklch(21% 0.034 264.665deg);

  /* 错误/警告/危险操作色 */
  --destructive: oklch(57.7% 0.245 27.325deg);

  /* 错误/警告/危险操作色的文字 */
  --destructive-foreground: oklch(57.7% 0.245 27.325deg);

  /* 聚焦时的环线颜色 */
  --ring: oklch(70.7% 0.022 261.325deg);

  /* 全局圆角大小 */
  --radius: 0.625rem;

  /* 页面背景色 */
  --background: oklch(100% 0 0deg);

  /* 页面文字颜色 */
  --foreground: oklch(13% 0.028 261.692deg);

  /* 边框颜色 */
  --border: oklch(92.8% 0.006 264.531deg);

  /* 侧边栏背景色 */
  --sidebar: oklch(98.5% 0.002 247.839deg);

  /* 侧边栏文字色 */
  --sidebar-foreground: oklch(13% 0.028 261.692deg);

  /* 侧边栏主色 */
  --sidebar-primary: oklch(21% 0.034 264.665deg);

  /* 侧边栏主色文字 */
  --sidebar-primary-foreground: oklch(98.5% 0.002 247.839deg);

  /* 侧边栏高亮/悬停背景 */
  --sidebar-accent: oklch(96.7% 0.003 264.542deg);

  /* 侧边栏高亮文字 */
  --sidebar-accent-foreground: oklch(21% 0.034 264.665deg);

  /* 侧边栏边框色 */
  --sidebar-border: oklch(92.8% 0.006 264.531deg);

  /* 侧边栏聚焦时边框光晕色 */
  --sidebar-ring: oklch(70.7% 0.022 261.325deg);
}
