:host,
:root {
  /* 页面主背景/文字颜色 */
  --background: 14.5% 0 0deg;
  --foreground: 98.5% 0 0deg;

  /* 主要背景色/文字颜色 */
  --primary: 92.2% 0 0deg;
  --primary-foreground: 20.5% 0 0deg;

  /* 次级背景色/文字颜色 */
  --secondary: 26.9% 0 0deg;
  --secondary-foreground: 98.5% 0 0deg;

  /* 淡化色提示背景色/文字颜色 */
  --muted: 26.9% 0 0deg;
  --muted-foreground: 70.8% 0 0deg;

  /* 强调提示背景色/文字颜色 */
  --accent: 26.9% 0 0deg;
  --accent-foreground: 98.5% 0 0deg;

  /* 危险操作背景色 */
  --destructive: 70.4% 0.191 22.216deg;

  /* 卡片背景色/文字颜色 */
  --card: 20.5% 0 0deg;
  --card-foreground: 98.5% 0 0deg;

  /* 遮罩层背景色/文字颜色 */
  --popover: 20.5% 0 0deg;
  --popover-foreground: 98.5% 0 0deg;

  /* 边框 */
  --border: 100% 0 0deg / 10%;

  /* 表单输入组件的边框颜色 */
  --input: 100% 0 0deg / 15%;
  --ring: 55.6% 0 0deg;
  --radius: 16px;

  /* 侧边栏相关 */
  --sidebar: 20.5% 0 0deg;
  --sidebar-foreground: 98.5% 0 0deg;
  --sidebar-primary: 48.8% 0.243 264.376deg;
  --sidebar-primary-foreground: 98.5% 0 0deg;
  --sidebar-accent: 26.9% 0 0deg;
  --sidebar-accent-foreground: 98.5% 0 0deg;
  --sidebar-border: 100% 0 0deg / 10%;
  --sidebar-ring: 55.6% 0 0deg;
}
