:host,
:root {
  /* 页面主背景/文字颜色 */
  --background: oklch(14% 0 0deg);
  --foreground: oklch(98.5% 0 0deg);

  /* 主色调（按钮 / 链接 / 高亮）/ 文字颜色 */
  --primary: oklch(92.2% 0 0deg);
  --primary-foreground: oklch(20.5% 0 0deg);

  /* 次级色调（次按钮 / 辅助元素）/ 文字颜色 */

  --secondary: oklch(26.9% 0 0deg);
  --secondary-foreground: oklch(98.5% 0 0deg);

  /* 强调色（悬停 / 激活状态）/ 文字颜色 */

  --accent: oklch(26.9% 0 0deg);
  --accent-foreground: oklch(98.5% 0 0deg);

  /* 危险操作颜色（如删除、警告）/ 文字颜色 */
  --destructive: oklch(70.4% 0.191 22.216deg);
  --destructive-foreground: oklch(98.5% 0 0deg);

  /* 淡化色（占位符 / 禁用）/ 文字颜色 */

  --muted: oklch(26.9% 0 0deg);
  --muted-foreground: oklch(70.8% 0 0deg);

  /* 卡片背景色/文字颜色 */
  --card: oklch(14% 0 0deg);
  --card-foreground: oklch(98.5% 0 0deg);

  /* 遮罩层背景色/文字颜色 */
  --popover: oklch(20.5% 0 0deg);
  --popover-foreground: oklch(98.5% 0 0deg);

  /* 边框颜色 or 圆角 or 字号 or 阴影 */
  --radius: 16px;
  --text: 16px;
  --border: oklch(100% 0 0deg / 10%);
  --input: oklch(100% 0 0deg / 15%);
  --ring: oklch(55.6% 0 0deg);
}
